.bg-img {
  background: url("./pic/second.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.file {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file input {
  padding: 10px;
  border: 2px dashed;
  border-radius: 0.5rem;
}
.nav-link {
  color: white;
  font-weight: 700;
  font-size: 25px;
}
